<div class="container main-container row" id="containerbox">
  <nav class="navbar navbar-light bg-light">
    <h1 class="letra">Bolsas Claro</h1>
    <h2 class="letra">Paquete Más GB</h2>
    <a class="navbar-brand titulos letras">
      <img src="./assets/img/icon-arma-tu-paquete.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Arma tu Paquete
    </a>
  </nav>

  <div class="form-group titulos">
    <label for="exampleFormControlSelect1">Selecciona un numero de telefono</label>
    <div>
      <select class="titulos" id="exampleFormControlSelect1">
        <option>949192394</option>
        <option>813989282</option>
        <option>393494884</option>
      </select>

    </div>
  </div>
  <br>
  <div class="form-group titulos">
    <label for="exampleFormControlSelect1">Elige cuántos GB quieres comprar</label>
    <div>
      <button type="button" class="titulos">2GB</button>
      <button type="button" class="titulos">5GB</button>
      <button type="button" class="titulos">7GB</button>
    </div>
  </div>
  <br>
  <div class="form-group titulos">
    <label for="exampleFormControlSelect1">Elige cuántos minutos quieres comprar</label>
    <div>
      <button type="button" class="titulos">100Min</button>
      <button type="button" class="titulos">300Min</button>

    </div>
  </div>
  <br>
  <div class="form-group titulos">
    <label for="exampleFormControlSelect1">Seleciona la vigencia</label>
    <div>
      <button type="button" class="titulos">7Días</button>
      <button type="button" class="titulos">15Días</button>
      <button type="button" class="titulos">30Días</button>
    </div>
  </div>
  <br>

 <!--  <div class="card row">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-whatsapp-cir.svg"
          width="15" height="15" class="card-img" alt="...">
        <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-twitter.svg"
          width="15" height="15" class="card-img" alt="...">
        <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-facebook.svg"
          width="15" height="15" class="card-img" alt="...">
        <div>
          <div class="col-md-4">
            <img
              src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-instagram-cir.svg"
              width="15" height="15" class="card-img" alt="...">
            <img
              src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-snapchat-cir.svg"
              width="15" height="15" class="card-img" alt="...">
            <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-waze-cir.svg"
              width="15" height="15" class="card-img" alt="...">
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Todos lo paquetes incluyen navegación libre</h5>
                <p class="card-text colors">Ver mas >></p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> -->
<div class="row" id="imgspace">
  <div id="logimg">
      <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-whatsapp-cir.svg"
          width="28" height="28" class="card-img" alt="...">
        <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-twitter.svg"
          width="28" height="28" class="card-img" alt="...">
        <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-facebook.svg"
          width="28" height="28" class="card-img" alt="...">
          <img
          src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-instagram-cir.svg"
          width="28" height="28" class="card-img" alt="...">
        <img
          src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-snapchat-cir.svg"
          width="28" height="28" class="card-img" alt="...">
        <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/ico-waze-cir.svg"
          width="28" height="28" class="card-img" alt="...">
      </div>
      <div id="text">
            <p class="titulos">Todos lo paquetes incluyen navegación libre</p>
            <p id= "enlace">Ver mas >></p>
      </div>
      </div>
      <div class="card row">
      <div class="card border-dark mb-3" style="max-width: 18rem;">
          <div class="card-header titulos">Resumen de compra</div>
          <hr>
          <div class="card-body text-dark">
            <h5 class="card-title titulos">Tu paquete incluye</h5>
            <p class="card-text">Total</p><p class="letra"> $0.-</p>
          </div>
          <!-- <div class="form-group titulos">
              <label for="exampleFormControlSelect1">Tu paquete incluye</label>
              <div>
                <select class="titulos" id="exampleFormControlSelect1">
                  <option> <img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/personas/ico_llamaTodoDestino.svg"
                  width="100" height="100" class="card-img" alt="..."> 5GB</option>
                  <option><img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/personas/ico_megasPlan.svg"
                    width="100" height="100" class="card-img" alt="..."> 100Min</option>
                  <option><img src="http://wireframes.tmx-internacional.net/claro_responsivo/claro2016/css/vector/personas/ico_reservePeriodicamente.svg"
                    width="100" height="100" class="card-img" alt="..."> 7Días</option>
                </select>
          
              </div>
            </div> -->
        </div>
      </div>
      <button type="button" class="titulos" style='width:100%; height:25px'>Comprar</button>
      <h2 class="letra ">Paquetes Especiales +</h2>
      <h2 class="letra ">Paquetes Larga Distancia Internacional +</h2>
</div>