#containerbox{
    margin-top: 40px;
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
}

#imgspace{
    margin-top: 20px;
    column-count: 2;
    padding: 0px 10px;
    background-color: #dddddd;
    padding-top: 5px;
}

#logimg{
    padding: 5px 20px;
    margin: 0px;
}

#enlace{
    color: #1197af !important;
}

#text{
    margin: 0px;
}
.card-row{
    border-style: inset;
   
}